body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/bg.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}

h1 {
    color: goldenrod;
}

#message-el {

    font-style: italic;
    /* font-variant-emoji: text; */
}

#container {
    color: white;
    text-align: center;
    font-weight: bold;
}

#start-game-button {
    color: #016f32;
    width: 150px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    background: goldenrod;
    border-radius: 5px;
    border: none;
    margin-bottom: 4px;

}

#new-card-button {
    color: #016f32;
    width: 150px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    background: goldenrod;
    border-radius: 5px;
    border: none;
}

.btn-group button {
    display: block; /* Make the buttons appear below each other */

}